#description{
    text-align: center;
}

#title{text-align: center;padding-top: 19% ;
    
}

#option1{text-align: center;padding-top: 19%}

#option2{text-align: center;padding-top: 19%}

#option3{text-align: center;padding-top: 19%}
#option1{color: azure}